@import '../variables.scss';
header {
    .logo {
        background: #fff;
        height: 50px;
        width: 100%;
        box-shadow: 0px 0px 2px #aaa;
        img {
            display: block;
            height: 100%;
            margin: auto;
        }
    }
    .nav{
      background: $secondary-base-color;
      height:50px;
    }
}
